<h1>Customer#index</h1>
<div> <%= link_to 'New Customer', new_company_customer_path(@company) %> </div>
<table>

<tr>
<th>Company Title</th>
<th>Short Name</th>
</tr>

<% @customers.each do |customer| %>
    <tr>
<td><%= customer.company_title %></td>
<td><%= customer.short_name %></td>
<td><%= link_to 'Show', company_customer_path(@company, customer) %></td>
<td><%= link_to 'Edit', edit_company_customer_path(@company, customer) %></td>
</tr>
<% end %>
</table>