<!DOCTYPE html>
<html>
  <head>
    <title>Raccounting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag 'bootstrap' %>
		<%= stylesheet_link_tag 'custom.min' %>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<%= javascript_include_tag 'html5shiv' %>
			<%= javascript_include_tag 'respond.min' %>
		<![endif]-->
  </head>
<body>
<% if user_signed_in? %> 
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-6">
				<h1>Raccounting</h1>
			</div>
			<div class="col-lg-3 col-md-5 col-sm-6 col-lg-offset-1">					
					<strong><%= current_user.name + " " + current_user.surname  %></strong>
					<strong><%= current_user.company.name %></strong>
					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
					<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>					
			</div>
		</div>
 
		<div class="row">
			<div class="col-lg-3" style="background: #373636">
				<ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
				<li><%= link_to "GÜNCEL DURUM", company_path(@company) %></li>
					<li>
						<a href="javascript:void(0);" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">
						SATIŞLAR<span class="caret arrow"></span>
						</a>

						<ul class="nav nav-stacked collapse left-submenu" id="item1">
							<li><%= link_to "Müşteriler", company_customers_path(@company) %></li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0);" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">STOK<span class="caret arrow"></span></a>          
						<ul class="nav nav-pills nav-stacked collapse" id="item2">
							<li><%= link_to "Hizmet ve Ürünler", company_products_path(@company) %></li>
							<li><%= link_to "Stok Hareketleri", company_stock_movements_path(@company) %></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-lg-9" style="background: #FDFDFD; box-shadow: 0 0 8px #d7d5d4">

        <div class="container">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>

			  <%= yield %>
			</div>
		</div>
  <%= javascript_include_tag 'jquery-1.10.2.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
<% end %>
</body>
</html>