<%= form_for ([@company, @product]) do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :code %>
    <%= f.text_field :code %>
</div>
<div>
    <%= f.label :do_stock_tracking %><br>
    <%= f.label :do_stock_tracking_true, "Yes" %><br>
    <%= f.radio_button :do_stock_tracking, "true" %><br>

    <%= f.label :do_stock_tracking_false, "No" %><br>
    <%= f.radio_button :do_stock_tracking, "false" %><br>
</div>

<div>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
</div>

<div>
    <%= f.label :purchase_sales_unit %>
    <%= f.text_field :purchase_sales_unit %>
</div>

<div>
    <%= f.label :purchase_price %>
    <%= f.text_field :purchase_price %>
</div>

<div>
    <%= f.label :sales_price %>
    <%= f.text_field :sales_price %>
</div>

<div>
    <%= f.label :vat %>
    <%= f.text_field :vat %>
</div>

<div> 
    <%= f.submit %>
</div>
<% end %>


