<%= form_for @product do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :code %>
    <%= f.text_field :code %>
</div>
<div>
    <%= f.label :do_stock_tracking %><br>
    <%= f.label :do_stock_tracking_1, "Yes" %><br>
    <%= f.radio_button :do_stock_tracking, "1" %><br>

    <%= f.label :do_stock_tracking_0, "No" %><br>
    <%= f.radio_button :do_stock_tracking, "0" %><br>
</div>
<div> 
    <%= f.submit %>
</div>
<% end %>